<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <title>Система слежения</title>
    </head>
    <body>
        <div class="modal fade" id="addPlate" tabindex="-1" aria-labelledby="addModalLabelPlate" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabelPlate">Добавление номера</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="/addPlate">
                        <div class="modal-body">
                                <div class="mb-3">
                                    <label for="inputPlate" class="col-form-label">Автомобильный номер:</label>
                                    <input type="text" class="form-control" id="inputPlate" name="plate" placeholder="Введите автомобильный номер">
                                </div>
                                <div class="mb-3">
                                    <label for="inputFIO" class="col-form-label">ФИО:</label>
                                    <input type="text" class="form-control" id="inputFIO" name="fio" placeholder="Введите ФИО">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addFace" tabindex="-1" aria-labelledby="addModalLabelFace" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabelFace">Добавление изображения</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="/addFace" enctype="multipart/form-data">
                        <div class="modal-body">
                                <div class="mb-3">
                                    <label for="inputFIO" class="col-form-label">ФИО:</label>
                                    <input type="text" class="form-control" id="inputFIO" name="fio" placeholder="Введите ФИО">
                                </div>
                                <div class="mb-3">
                                    <label for="inputFace" class="col-form-label">Загрузите изображение лица:</label>
                                    <input type="file" id="inputFace" name="face" title="Загрузить">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                          <button type="button" class="btn text-info" data-bs-toggle="modal" data-bs-target="#addPlate">Добавить номер</button>
{#                        <a class="nav-link" href="#">Добавить номер</a>#}
                      </li>э
                      <li class="nav-item">
                          <button type="button" class="btn text-info" data-bs-toggle="modal" data-bs-target="#addFace">Загрузить Лицо</button>
{#                        <a class="nav-link" href="#">Добавить лицо</a>#}
                      </li>
{#                      <li class="nav-item">#}
{#                        <a class="btn text-info" href="/tables">Листинг Номеров/Лиц</a>#}
{#                      </li>#}
                    </ul>
                  </div>
                </div>
            </nav>
        </header>
        <main>
            <table class="table">
              <thead>
                <tr>
                  <th>Имя</th>
                  <th>Фото</th>
                  <th>Время</th>
                  <th>Автомобильный номер</th>
                </tr>
              </thead>
              <tbody>
                {% for row in db %}
                    <tr>
                        <th>{{ row[0] }}</th>
                        <td>
                            <img width="120" src="data:image/jpg;base64, {{ row[1] }}">
                        </td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>
